
.header {
    font-size: 60px;
    text-align: center;
    color: black;
    margin-top: 30px;
}

.subHeader {
    font-size: 30px;
    text-align: center;
    color: black;
};

.card {
    background-color: rgb(2, 18, 70);
    width: 500px;
    border-radius: 5px;
    padding: 10px 20px 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

.btn {
    width: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}